{
  "presets": ["env", "es2015", "stage-0"],
  "plugins": [["transform-runtime", {
    "moduleName": "babel-runtime"
  }],
  "@babel/plugin-transform-flow-strip-types",
  "babel-plugin-add-module-exports",
  "transform-regenerator"
  ],
  "env": {
    "test": ["istanbul"]
  }
}